@use "variables" as vars;
@use "fonts" as fonts;

.about-us-page {
  padding: 2rem;
  font-family: "fonts.Museo Sans Rounded", sans-serif;

  &__content {
    padding: 1rem 1.5rem;
    width: 100%;
    background-color: vars.$white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
  }

  &__title {
    font-size: clamp(2rem, 6vw, 3.5rem);
    font-weight: 700;
    color: vars.$h1-color;
    margin-bottom: 1.5rem;
  }

  &__section {
    padding: 1rem 1.5rem;
    display: flex;
    gap: 4rem;
    text-align: center;
    @media (max-width: 900px) {
      flex-direction: column;
    }
    @media (min-width: 901px) {
      &:nth-child(even) {
        flex-direction: row-reverse;
      }
    }

    &-image {
      width: 50%;
      object-fit: cover;
      @media (max-width: 900px) {
        width: 100%;
      }
    }

    &-text-container {
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      @media (max-width: 900px) {
        width: 100%;
      }
    }

    &-subtitle {
      color: vars.$button;
      font-weight: bold;
    }
  }
}
