@use "./variables" as vars;

.shop-page {
  display: flex;
  padding: vars.$default-padding-top-bottom vars.$default-padding-sides;
  gap: 2rem;
  background-color: vars.$background;
  @media (max-width: 600px) {
    flex-direction: column;
    align-items: center;
  }

  &__shop-filters {
    width: 250px;
  }

  &__products-grid {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(
      auto-fit,
      minmax(max(230px, calc((100% - 3 * 1.5rem) / 4)), 0fr)
    );
    gap: 1.5rem;
    overflow-y: auto;
    max-height: calc(100vh - 200px);
    justify-content: center;
    @media (max-width: 600px) {
      grid-template-columns: repeat(
        auto-fit,
        minmax(max(230px, calc((100% - 3 * 1.5rem) / 4)), 1fr)
      );
    }
  }
}
